html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", "Roboto", Helvetica, Arial, sans-serif;
  font-size: $m-size;
  text-align: center;
}

li {
  text-align: left;
}

a:hover {
  text-decoration: none;
}

.dashboard {
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px 0;
  width: 100%;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  text-transform: uppercase;
  margin: 1rem;
  min-width: 100px;
}

.search-bar {
  margin: auto;
  padding: 5px;
  width: 190px;
}

@media screen and (max-width: 992px) {
  .app {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .panel {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .app {
    width: 90%;
  }
  .panel {
    width: 100%;
  }
}
